@import 'mixins';
@import 'variables';

.avatar {
    position: absolute;
    top: 24px;
    width: 150px;
    height: 150px;

    &-input {
        display: none;
    }

    &-wrapper {
        height: 200px;
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        position: relative;

        &:hover .avatar-overlay {
            opacity: 1;
        }
    }

    &-overlay {
        position: absolute;
        top: 24px;
        background: rgba($primary, .5);
        width: 150px;
        height: 150px;
        transition: .5s ease;
        opacity: 0;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include custom-border-radius(50%);

        &-uploading {
            opacity: 1;
        }
    }
}

.btn-mini {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    width: 2rem;
    height: 2rem;
    @include custom-border-radius(50%);
}

#uploadConfirmation {
    margin-top: -1.5rem;
    margin-bottom: .7rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
