@import 'mixins';

.card-img-header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-img {
        width: 150px;
        height: auto;
        @include custom-border-radius(50%);
    }
}
