<div class="row">
    <section class="col-12 col-md-5">
        <div class="card card-shadowed my-3">
            <div class="card-img-header">
                <img class="profile-img" src="{{userAvatar}}" alt="user avatar">
            </div>
            <div class="card-body">
                <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                    <div class="form-group form-row">
                        <label class="col-5 col-form-label font-weight-bold" for="usernameInput">Current Nickname</label>
                        <div class="col-7 d-flex align-items-center">
                            <span *ngIf="!isEditMode">{{user.userName}}</span>
                            <input *ngIf="isEditMode" type="text" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.username.errors }"
                                   id="usernameInput" formControlName="username">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label class="col-5 col-form-label font-weight-bold" for="emailInput">Email address</label>
                        <div class="col-7 d-flex align-items-center">
                            <span *ngIf="!isEditMode">{{user.email}}</span>
                            <input *ngIf="isEditMode" type="email" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.email.errors }"
                                   id="emailInput" formControlName="email">
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-{{isEditMode ? 'danger' : 'info'}} btn-no-outline" (click)="isEditMode = !isEditMode">
                            <ng-container *ngIf="isEditMode; else displayMode">
                                cancel edit<i class="fas fa-times ml-2"></i>
                            </ng-container>
                            <ng-template #displayMode>
                                edit profile<i class="fas fa-edit ml-2"></i>
                            </ng-template>
                        </button>
                        <button *ngIf="isEditMode" [disabled]="isLoading" type="submit" class="btn btn-success">
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>Save Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="col-12 col-md-7">
        <div class="card card-shadowed my-3">
            <div class="card-body">
                <div class="h5 mb-4">Advanced Settings</div>
                <div class="d-flex flex-column">
                    <a class="btn btn-info mr-auto mb-3" routerLink="change-password">
                        Change Password<i class="fas fa-sync ml-2"></i>
                    </a>
                    <button class="btn btn-danger mr-auto mb-3" (click)="openDeleteConfirmation(deleteAccountConfirmation)">
                        Delete my account<i class="fas fa-trash-alt ml-2"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card card-shadowed my-3">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" routerLink="my-recipes">
                        <span>Created Recipes<i class="text-success fas fa-globe-europe ml-2"></i></span>
                        <span class="badge badge-success badge-pill rounded">{{createdRecipeCount}}</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" routerLink="my-recipes" [queryParams]="{deleted: true}">
                        <span>Unpublished Recipes<i class="text-danger fas fa-eye-slash ml-2"></i></span>
                        <span class="badge badge-danger badge-pill rounded">{{deletedRecipeCount}}</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" routerLink="my-recipes" [queryParams]="{liked: true}">
                        <span>Liked Recipes<i class="text-info fas fa-heart ml-2"></i></span>
                        <span class="badge badge-info badge-pill rounded">{{likedRecipeCount}}</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<router-outlet></router-outlet>

<ng-template #deleteAccountConfirmation let-modal>
    <div class="modal-body p-0">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Account deletion confirmation</h4>
            </div>
            <div class="card-body">
                <p class="text-center">
                    Are you sure, you want to delete your account?
                    <br><br>
                    <strong>This action is irreversible & all your created recipes will be deleted too!</strong>
                </p>
                <div class="container d-flex justify-content-around">
                    <button class="btn btn-danger w-25" (click)="deleteAccount()">Yes</button>
                    <button class="btn btn-success w-25" (click)="modal.close()">No</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
