<div class="card card-2-rounded-corners">
    <h2 class="card-header text-center font-serif">Request a password reset</h2>
    <div class="card-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="mb-3">
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.email.errors }" id="emailInput" />
                <div *ngIf="isSubmitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Current input is no valid email address</div>
                </div>
            </div>

            <div class="d-flex justify-content-center mb-3">
                <button [disabled]="isLoading" class="btn btn-primary btn-ellipse d-flex align-items-center mr-1">
                    Get reset code<span *ngIf="isLoading" class="spinner-border spinner-border-sm ml-1"></span>
                </button>
                <a class="btn btn-outline-dark btn-ellipse ml-1" routerLink="../login">Cancel</a>
            </div>
        </form>
    </div>
</div>
