@import url(https://fonts.googleapis.com/css?family=Titillium+Web&display=swap);
@import 'variables';

// bootstrap variable override
$theme-colors: (
    "dark": $dark,
    "light": $light,
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
    "warning": $warning,
    "success": $success,
    "info": $info
);

$font-family-sans-serif: 'Titillium Web', 'Open Sans', sans-serif;
$enable-responsive-font-sizes: true;
$enable-rounded: false;
$input-focus-border-color: lighten($primary, 15%);

// import Bootstrap to save overrides
@import '../../node_modules/bootstrap/scss/bootstrap';

// override mixins
@import 'mixins';

@include custom-selection(white, $primary);

// Bootstrap Button Extensions
@mixin bootstrap-button($bg-color) {
    @include button-variant($bg-color, $bg-color,
        darken($bg-color, 7.5%), darken($bg-color, 10%),
        darken($bg-color, 10%), darken($bg-color, 12.5%));
}

.btn-secondary-translucent {
    @include bootstrap-button(rgba($secondary, .85));
}

.badge {
    font-weight: normal !important;
    font-size: 85% !important;

    &-lg {
        font-size: 100% !important;
    }
}

// ng-select variable override
$ng-select-highlight: $secondary;
$ng-select-primary-text: $white;
$ng-select-disabled-text: $grey;
$ng-select-border: $input-border-color;
$ng-select-border-radius: $border-radius;
@if $enable-rounded == false {
    $ng-select-border-radius: 0;
}
$ng-select-selected: $ng-select-highlight;
$ng-select-marked: darken($ng-select-highlight, 10);
$ng-select-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
$ng-select-placeholder: lighten($ng-select-primary-text, 40);
$ng-select-height: 36px;
$ng-select-value-padding-left: 10px;
$ng-select-value-font-size: 0.9em;

// import ng-select to save overrides
@import '../../node_modules/@ng-select/ng-select/scss/default.theme';

// fix colors that cannot be overridden by variable as they are hardcoded
.ng-select.custom-ng-select {
    &.ng-select-multiple {
        .ng-select-container {
            .ng-value-container {
                .ng-value {
                    .ng-value-label {
                        color: $white;
                    }
                    .ng-value-icon {
                        color: $primary;
                    }
                }
            }
        }
    }

    .ng-dropdown-panel-items {
        .ng-optgroup {
            &:hover {
                color: $ng-select-primary-text;
            }

            &.ng-option-marked {
                color: $ng-select-primary-text;
            }

            &.ng-option-selected, &.ng-option-selected.ng-option-marked {
                color: $ng-select-primary-text;
            }
        }

        .ng-option {
            &:hover {
                color: $ng-select-primary-text;
            }
        }
    }
}

// custom scrollbar
@import 'scrollbar';
