/* Amiet theme colors */
$dark: #2E2E2E;
$light: #cfd8dc;
$lighter: #d7e0e4;
$primary: #009688;
$secondary: #9C27B0;
$danger: #CC0000;
$warning: #ffbb33;
$success: #28a745;
$info: #5652ca;
$grey: #adb5bd;

$table-bg-success: #c3e6cb;
$table-bg-warning: #ffdc95;
$table-bg-danger: #e47a7a;

/* custom breakpoints */
$bp-sm: 576px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;
$bp-xxl: 1900px !default;
