// Amiet theme colors
$dark: #2E2E2E;
$light: #cfd8dc;
$lighter: #f7f7f7;
$primary: #052767;
$secondary: #ff5722;
$danger: #CC0000;
$warning: #ffbb33;
$success: #28a745;
$info: #5652ca;
$grey: #adb5bd;
$tertiary: #3e0567;

// custom breakpoints
$bp-sm: 576px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;
$bp-xxl: 1900px !default;

// typography
@import url(https://fonts.googleapis.com/css?family=Titillium+Web&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap);
$font-family-sans-serif: 'Titillium Web', 'Open Sans', sans-serif;
$font-family-serif: 'Kaushan Script', serif;

// custom vars
$topbar-height: 4rem;
$navbar-width: 250px;
