// Amiet theme colors
$dark: #2E2E2E;
$light: #cfd8dc;
$primary: #052767;
$secondary: #ff5722;
$danger: #CC0000;
$warning: #ffbb33;
$success: #28a745;
$info: #5652ca;
$grey: #adb5bd;

// custom breakpoints
$bp-sm: 576px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;
$bp-xxl: 1900px !default;
