// current theme
@import 'theme';

/* --- General --- */
body, html {
    font-family: $font-family-sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: $primary;
    background-image: url("../assets/img/artwork-bg-overlay.png");
}
