/* current theme */
@import 'theme';
/* custom input elements */
@import 'switch';
/* custom scrollbar */
@import 'scrollbar';
/* custom loading spinner */
@import 'spinner';
/* ag-grid overrides */
@import 'ag-grid';
/* ng-select theme */
@import 'ng-select';
/* ng5-slider customization */
@import 'ng-slider';

/* --- General --- */
body, html {
    font-family: $font-family-sans-serif;
    // scroll-behavior: smooth; //TODO: test compatibility to custom scroll animations
}

body {
    position: relative;
    min-height: 100vh;
}

@include custom-selection(white, $primary);

/* adapt body offset when modal is open to new scrollbar width */
body[class*=modal-open] {
    padding-right: 0 !important;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 0.85em;
}

.subtitle {
    text-indent: 0.5em;
    color: $text-muted;
    font-size: 1.5em;
}

.no-wrap {
    white-space: nowrap;
}

.form-group {
    .no-label {
        margin-top: 2rem;
    }
}

a:hover {
    text-decoration: none !important;
}

.link {
    &-info {
        color: $info !important;

        &:hover {
            color: darken($info, 15%) !important;
        }
    }
}

.font-size {
    &-sm {
        font-size: 12px !important;
    }

    &-md {
        font-size: 14px !important;
    }

    &-lg {
        font-size: 18px !important;
    }
}

.list-naked {
    list-style-type: none;
    padding-left: 0;
}

.quickFilterInput {
    width: 200px;
}

.vh {
    &-75 {
        height: 75vh !important;
    }

    &-50 {
        height: 50vh !important;
    }

    &-25 {
        height: 25vh !important;
    }
}

.flip-upside-down {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.dropdown-item {
    &:hover {
        color: white;
        background-color: $primary;
    }
}

.tooltip-lg .tooltip-inner {
    max-width: 450px;
}

.pointer-events-none {
    pointer-events: none;
}
