<div class="card">
    <h4 class="card-header text-center">Request a password reset</h4>
    <div class="card-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="mb-3">
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.email.errors }" id="emailInput" />
                <div *ngIf="isSubmitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Current input is no valid email address</div>
                </div>
            </div>

            <div class="d-flex justify-content-center mb-3">
                <button [disabled]="isLoading" class="btn btn-primary mr-1">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                    Get reset code
                </button>
                <button class="btn btn-outline-dark ml-1" (click)="activeModal.dismiss('cancel')">Cancel</button>
            </div>
        </form>
        <div *ngIf="error" class="alert alert-danger mb-2">{{error}}</div>
    </div>
</div>
