<section class="topbar">
    <div class="container-fluid h-100 d-flex justify-content-between">
        <img src="assets/img/rr_logo_transparent_rect.png" alt="site logo">
        <nav class="nav d-flex h-100 justify-content-between align-items-center">
            <strong class="nav-link">Hello&nbsp;{{user.username}}!</strong>
            <a class="nav-link ml-1 mr-2 size-50" routerLink="profile">
                <img src="{{userAvatar}}" alt="user pictogram" class="img-circle size-50">
            </a>
            <button class="nav-link btn btn-secondary btn-gradient btn-circle mx-2 size-50" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </nav>
    </div>
</section>
