@import 'variables';
@import 'mixins';

a {
    @include custom-border-radius(50%);
    @include custom-box-shadow(3px, 3px, 10px, -2px, lighten($dark, 30%));
    padding: 0;

    &:hover {
        @include box-shadow-none();
    }
}

.size-50 {
    height: 50px;
    width: 50px;
}

.topbar {
    background-color: $lighter;
    border-bottom: 1px solid $light;
    height: $topbar-height;
    z-index: 10;
}

@media (min-width: 768px) {
    .topbar {
        position: sticky;
        top: 0;
    }
}
