<div class="container vh-100 d-flex align-items-center">
    <div class="card w-100">
        <div class="card-body">
            <h1 id="mainHeading">The Recipe Repository</h1>

            <app-random-recipe></app-random-recipe>

            <section class="text-center mt-2 mb-4">
                <a routerLink="/recipes" class="font-size-larger">
                    Browse all {{recipeCount}} recipes<i class="fas fa-stream ml-2"></i>
                </a>
            </section>
            <section class="text-muted">
                <p class="text-center mb-2">
                    Want to upload recipes yourself?
                </p>
                <div class="d-flex justify-content-center align-items-center">
                    <a class="btn btn-outline-info btn-ellipse mx-2" routerLink="/auth/login">
                        Sign-In
                    </a>
                    or
                    <a class="btn btn-outline-info btn-ellipse mx-2" routerLink="/auth/register">
                        Sign-Up
                    </a>
                </div>
            </section>
            <hr class="my-4">
            <footer class="d-flex flex-column align-items-center mb-3">
                <div id="footerLinks d-flex justify-content-center">
                    <a routerLink="/about" class="mx-2">About</a>
                    <a routerLink="/terms-and-services" class="mx-2">Terms & Services</a>
                </div>
                <span class="text-muted">made with ❤️ by Pat00</span>
            </footer>
        </div>
    </div>
</div>


<div id="cookiesInfo" *ngIf="showCookiesInfo">
    <p class="mb-1">
        This site uses cookies to optimize site functionality and give you the best possible experience.
        <a routerLink="/terms-and-services">Learn more</a>
    </p>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-success" (click)="acceptCookies()">OK</button>
    </div>
</div>
