<div class="container vh-100 d-flex align-items-center">
    <div class="card w-100 py-md-5">
        <div class="card-body">
            <h1 class="text-primary text-center mt-5 mb-3">Recipe Fortune Wheel</h1>

            <app-random-recipe></app-random-recipe>

            <section class="text-center mt-2 mb-5">
                <a routerLink="/recipes">Browse all recipes</a>
            </section>
            <section class="mb-3">
                <p class="text-center">
                    Want to upload recipes yourself?
                </p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-info mr-1" routerLink="/auth/login">Sign-In</a>
                    <a class="btn btn-outline-info ml-1" routerLink="/auth/register">Sign-Up</a>
                </div>
            </section>
        </div>
    </div>
</div>
