<h1 class="h1 mt-3">Orphaned Recipes</h1>
<p class="text-muted mb-4">List of all recipes that do not have an attributed creator</p>
<section class="container-fluid mb-3">
    <cdk-virtual-scroll-viewport [itemSize]="30" style="height: 500px">
        <table class="table table-hover table-fixed" *ngIf="orphans.length > 0; else noRecipes">
            <thead>
            <tr>
                <th scope="col" style="width: 7%"></th>
                <th scope="col">Name</th>
                <th scope="col">Likes</th>
                <th scope="col">From</th>
                <th scope="col">Tags</th>
            </tr>
            </thead>
            <tbody>
            <tr *cdkVirtualFor="let recipe of orphans" (click)="showRecipe(recipe.id, $event)">
                <th scope="row">
                    <button class="btn btn-primary" (click)="showAttributeToUserDialog(recipe.id)" ngbTooltip="attribute new user" container="body">
                        <i class="fas fa-link"></i>
                    </button>
                </th>
                <td><strong class="text-primary">{{recipe.name}}</strong></td>
                <td>{{recipe.likes.length}}<i class="fas fa-heart text-info ml-2"></i></td>
                <td>
                    <ng-container *ngIf="recipe.updatedOn; else createdOn">
                        {{recipe.updatedOn | date: 'dd MMM y, H:mm'}}
                    </ng-container>
                    <ng-template #createdOn>
                        {{recipe.createdOn | date: 'dd MMM y, H:mm'}}
                    </ng-template>
                </td>
                <td>
                    <span class="badge badge-lg badge-secondary mx-1 rounded" *ngFor="let tag of recipe.tags">{{tag.label}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>

    <ng-template #noRecipes>
        <p class="text-muted">
            There are currently no orphaned recipes :)
        </p>
    </ng-template>
</section>
