@import 'variables';

#fortuneWheel {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    > .btn {
        border-radius: 45px;
    }
}

.custom-ng-select {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: $bp-md) {
    .custom-ng-select {
        width: 60%;
    }
}
