<section class="container vh-100 bg-white">
    <h1 class="text-primary text-center pt-5 mb-2">Recipe Fortune Wheel</h1>
    <h2 class="h3 text-secondary text-center">Recipe Browser</h2>
    <div class="mt-5">
        <ul class="list-group list-group-flush" *ngIf="recipes.length > 0; else noRecipes">
            <li class="list-group-item" *ngFor="let recipe of recipes">
                <a class="row text-decoration-none" [routerLink]="[recipe.id]">
                    <div class="col-12 col-md-4">
                        {{recipe.name}}
                    </div>
                    <div class="col-12 col-md-4">
                        {{recipe.description}}
                    </div>
                    <div class="col-12 col-md-4">
                        <span class="badge badge-lg badge-secondary mx-1 rounded" *ngFor="let tag of recipe.tags">{{tag.label}}</span>
                    </div>
                </a>
            </li>
        </ul>
        <ng-template #noRecipes>
            <p class="text-center text-muted">
                There are no recipes yet :(
            </p>
        </ng-template>
    </div>
</section>

<router-outlet></router-outlet>
