<section class="container vh-100 bg-white">
    <h2 class="text-secondary text-center pt-4 mb-3">Recipe Browser</h2>

    <label>Add filters</label>
    <ng-select class="custom-ng-select"
               [items]="tagCategories"
               [multiple]="true"
               groupBy="tags"
               [selectableGroup]="true"
               [selectableGroupAsModel]="false"
               [closeOnSelect]="false"
               [(ngModel)]="selectedTags"
               (change)="applyFilters()">
        <ng-template ng-optgroup-tmp let-tagCategory="item" let-item$="item$" let-index="index">
            <div class="custom-control custom-checkbox">
                <label for="tag-group-{{index}}" class="sr-only"></label>
                <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" id="tag-group-{{index}}"/>
                <label class="custom-control-label">{{tagCategory.label | uppercase}}</label>
            </div>
        </ng-template>
        <ng-template ng-option-tmp let-tag="item" let-item$="item$" let-index="index">
            <div class="custom-control custom-checkbox">
                <label for="tag-{{index}}" class="sr-only"></label>
                <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" id="tag-{{index}}"/>
                <label class="custom-control-label">{{tag.label}}</label>
            </div>
        </ng-template>
    </ng-select>

    <div class="mt-5">
        <ul class="list-group list-group-flush" *ngIf="recipes.length > 0; else noRecipes">
            <li class="list-group-item" *ngFor="let recipe of recipes">
                <a class="row text-decoration-none" [routerLink]="[recipe.id]">
                    <div class="col-12 col-md-4">
                        {{recipe.name}}
                    </div>
                    <div class="col-12 col-md-4">
                        {{recipe.description}}
                    </div>
                    <div class="col-12 col-md-4">
                        <span class="badge badge-lg badge-secondary mx-1 rounded" *ngFor="let tag of recipe.tags">{{tag.label}}</span>
                    </div>
                </a>
            </li>
        </ul>
        <ng-template #noRecipes>
            <p class="text-center text-muted">
                There are no recipes yet :(
            </p>
        </ng-template>
        <div class="d-flex justify-content-center mt-5" *ngIf="showBackButton">
            <a class="btn btn-outline-primary" routerLink="/">Back Home</a>
        </div>
    </div>
</section>

<router-outlet></router-outlet>
