@import 'theme';

.img-container {
    height: 325px;
    background-color: rgba($primary, .2);
    position: relative;
    overflow: hidden;

    > img {
        width: 100%;
    }

    > h1 {
        position: absolute;
        left: 2rem;
        bottom: 1rem;
        background-color: rgba($primary, .85);
        color: white;
        padding: .5rem .75rem;
        @include border-radius-by-corner(0, 7px, 7px, 0);
    }

    > button {
        position: absolute;

        &#dismissBtn {
            top: .5rem;
            right: .5rem;
        }

        &#likeBtn {
            bottom: 1rem;
            right: .5rem;
        }
    }
}

.credits {
    font-style: italic;
    font-size: small;
    color: $text-muted;
    margin-top: -1rem;
}
