@import 'variables';

.dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

aside {
    background-image: linear-gradient(180deg, $primary, $secondary);
}

@media (min-width: 768px) {
    .dashboard {
        flex-direction: row;
    }

    aside {
        width: $navbar-width;
        height: 100vh;
        position: sticky;
        top: 0;

        .collapse {
            /* Never collapse the sidebar for wide screens */
            display: block;
        }
    }
}
