<ul ngbNav #tabs="ngbNav" [(activeId)]="activeTab" class="nav-tabs mt-4" (activeIdChange)="onTabChange($event)">
    <li [ngbNavItem]="1">
        <a ngbNavLink>Created Recipes<i class="text-success fas fa-globe-europe ml-2"></i></a>
        <ng-template ngbNavContent>
            <table class="table table-hover" *ngIf="createdRecipes.length > 0; else noCreatedRecipes">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Preparation Time</th>
                    <th scope="col">Cooking Time</th>
                    <th scope="col">Created On</th>
                    <th scope="col">Updated On</th>
                    <th scope="col">Tags</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let recipe of createdRecipes" (click)="showRecipe(recipe.id, $event)">
                    <th scope="row">
                        <button class="btn btn-sm btn-warning mr-2" ngbTooltip="Unpublish" (click)="markAsDeleted(recipe.id)">
                            <i class="fas fa-eye-slash"></i>
                        </button>
                        <a class="btn btn-sm btn-info mr-2" ngbTooltip="Edit" [routerLink]="['../recipe-editor', recipe.id]">
                            <i class="fas fa-pen"></i>
                        </a>
                    </th>
                    <td><strong class="text-primary">{{recipe.name}}</strong></td>
                    <td>{{difficulties[recipe.difficulty]}}</td>
                    <td>{{recipe.prepTime}}&nbsp;min.</td>
                    <td>{{recipe.cookTime}}&nbsp;min.</td>
                    <td>{{recipe.createdOn | date: 'dd MMM y, H:mm'}}</td>
                    <td>{{(recipe.updatedOn | date: 'dd MMM y, H:mm') || '---'}}</td>
                    <td class="w-25">
                        <span class="badge badge-lg badge-secondary m-1 rounded" *ngFor="let tag of recipe.tags">{{tag.label}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <ng-template #noCreatedRecipes>
                <p class="text-center text-muted mt-4">
                    You do not have any recipes yet 😥
                </p>
            </ng-template>
            <div class="d-flex justify-content-center mt-4">
                <a class="btn btn-secondary btn-gradient btn-ellipse" routerLink="../recipe-editor">
                    <i class="fas fa-plus mr-2"></i>New Recipe
                </a>
            </div>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink>Unplublished Recipes<i class="text-danger fas fa-eye-slash ml-2"></i></a>
        <ng-template ngbNavContent>
            <table class="table table-hover" *ngIf="deletedRecipes.length > 0; else noDeletedRecipes">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Preparation Time</th>
                    <th scope="col">Cooking Time</th>
                    <th scope="col">Created On</th>
                    <th scope="col">Deleted On</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let recipe of deletedRecipes" (click)="showRecipe(recipe.id, $event)">
                    <th scope="row">
                        <button class="btn btn-sm btn-success mx-1" ngbTooltip="Restore" (click)="restore(recipe.id)">
                            <i class="fas fa-recycle"></i>
                        </button>
                        <button class="btn btn-sm btn-danger mx-1" ngbTooltip="Delete for good" (click)="hardDelete(recipe.id)">
                            <i class="fas fa-fire"></i>
                        </button>
                    </th>
                    <td><strong class="text-primary">{{recipe.name}}</strong></td>
                    <td>{{difficulties[recipe.difficulty]}}</td>
                    <td>{{recipe.prepTime}}&nbsp;min.</td>
                    <td>{{recipe.cookTime}}&nbsp;min.</td>
                    <td>{{recipe.createdOn | date: 'dd MMM y, H:mm'}}</td>
                    <td>{{recipe.deletedOn | date: 'dd MMM y, H:mm'}}</td>
                </tr>
                </tbody>
            </table>
            <ng-template #noDeletedRecipes>
                <p class="text-center text-muted mt-4">
                    You have no unpublished recipes 😃
                </p>
            </ng-template>
        </ng-template>
    </li>
    <li [ngbNavItem]="3">
        <a ngbNavLink>Liked Recipes<i class="text-info fas fa-heart ml-2"></i></a>
        <ng-template ngbNavContent>
            <table class="table table-hover" *ngIf="likedRecipes.length > 0; else noLikedRecipes">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Preparation Time</th>
                    <th scope="col">Cooking Time</th>
                    <th scope="col">Tags</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let recipe of likedRecipes" (click)="showRecipe(recipe.id, $event)">
                    <th scope="row">
                        <button class="btn btn-sm btn-info mx-1" ngbTooltip="Unlike" (click)="unlike(recipe.id)">
                            <i class="fas fa-heart-broken"></i>
                        </button>
                    </th>
                    <td><strong class="text-primary">{{recipe.name}}</strong></td>
                    <td>{{difficulties[recipe.difficulty]}}</td>
                    <td>{{recipe.prepTime}}&nbsp;min.</td>
                    <td>{{recipe.cookTime}}&nbsp;min.</td>
                    <td class="w-25">
                        <span class="badge badge-lg badge-secondary mx-1 rounded" *ngFor="let tag of recipe.tags">{{tag.label}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <ng-template #noLikedRecipes>
                <p class="text-center text-muted mt-4">
                    You have not liked any recipes yet 😥
                </p>
            </ng-template>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="tabs" class="mt-2"></div>

<router-outlet></router-outlet>
