<div class="card card-2-rounded-corners">
    <h2 class="card-header font-serif">Reset Password</h2>
    <div class="card-body">
        <div *ngIf="currentStatus == tokenStatus.Validating">
            Validating in process<span class="spinner-border spinner-border-sm ml-2"></span>
        </div>
        <div *ngIf="currentStatus == tokenStatus.Invalid">
            Token validation failed, if the token has expired you can get a new one at the <a routerLink="../forgot-password">forgot password</a> page.
        </div>
        <form *ngIf="currentStatus == tokenStatus.Valid" [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.password.errors }" id="passwordInput"/>
                <div *ngIf="isSubmitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPasswordInput">Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.confirmPassword.errors }"  id="confirmPasswordInput"/>
                <div *ngIf="isSubmitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Password confirmation is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="isLoading" class="btn btn-primary">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                    Reset Password
                </button>
                <a routerLink="../login" class="btn btn-outline-dark">Cancel</a>
            </div>
        </form>
    </div>
</div>
