<div class="modal-body">
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
        <div class="form-group">
            <label for="userSelect">Select a user</label>
            <select name="userId" #userId="ngModel" class="custom-select" id="userSelect" [(ngModel)]="selectedUserId"
                    [ngClass]="{ 'is-invalid': f.submitted && userId.invalid }" required [disabled]="isLoading">
                <option *ngFor="let user of existingUsers" [value]="user.id">{{user.username}}</option>
            </select>
            <div *ngIf="f.submitted && userId.invalid" class="invalid-feedback">
                <div *ngIf="userId.errors.required">A user is required</div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <button type="submit" class="btn btn-secondary" [disabled]="isLoading">
                Attribute user<i class="fas fa-link ml-2"></i>
            </button>
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">
                Cancel
            </button>
        </div>
    </form>
</div>
