@import 'variables';
@import 'mixins';

.nav {
    &-header {
        display: block;
        height: $topbar-height;
        margin-left: 1rem;

        img {
            max-height: $topbar-height;
            width: auto;
            padding: 0.5rem 1rem;
        }
    }

    &-body {
        margin-left: 1rem;

        a.nav-link {
            color: $light;
            line-height: 2;
            font-size: larger;

            &:hover {
                color: darken($light, 20%);
            }

            &-active {
                color: darken($light, 25%);
                font-weight: bold;
            }
        }
    }

    &-spacer {
        height: 1.5em;
    }
}
