<section class="nav-header"></section>

<section class="nav-body">
    <nav class="nav flex-column">
        <a class="nav-link" routerLink="profile" routerLinkActive="nav-link-active">
            <i class="fas fa-user-circle mr-3"></i>My Profile
        </a>
        <a class="nav-link" routerLink="my-recipes" routerLinkActive="nav-link-active">
            <i class="fas fa-book mr-3"></i>My Recipes
        </a>
        <a class="nav-link" routerLink="recipe-editor" routerLinkActive="nav-link-active">
            <i class="fas fa-plus mr-3"></i>New Recipe
        </a>

        <span class="nav-spacer"></span>

        <a class="nav-link" routerLink="random-recipe" routerLinkActive="nav-link-active">
            <i class="fas fa-random mr-3"></i>Random Recipe
        </a>
        <a class="nav-link" routerLink="recipes" routerLinkActive="nav-link-active">
            <i class="fas fa-list mr-3"></i>All Recipes
        </a>

        <ng-container *ngIf="user.role == roles.admin">
            <span class="nav-spacer"></span>
            <h4 class="nav-link text-light">Administration</h4>

            <a class="nav-link" routerLink="admin/user-list" routerLinkActive="nav-link-active">
                <i class="fas fa-users mr-3"></i>User management
            </a>

            <a class="nav-link" routerLink="admin/orphan-recipes" routerLinkActive="nav-link-active">
                <i class="fas fa-list mr-3"></i>Orphan Recipes
            </a>
        </ng-container>
    </nav>
</section>
