<section class="card shadowed mt-4 mb-3">
    <div class="card-body" *ngIf="recipeForm">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <h3>Recipe Information</h3>
            <div class="row">
                <div class=" col-12 form-group order-1">
                    <label for="nameInput">Name</label>
                    <input type="text" formControlName="name" id="nameInput" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.name.errors }">
                    <div *ngIf="isSubmitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                </div>

                <div class="col-4 form-group order-2">
                    <label for="numberOfPeopleInput">Number of people</label>
                    <input type="number" formControlName="numberOfPeople" id="numberOfPeopleInput" class="form-control"
                           [ngClass]="{ 'is-invalid': isSubmitted && f.numberOfPeople.errors }">
                    <div *ngIf="isSubmitted && f.numberOfPeople.errors" class="invalid-feedback">
                        <div *ngIf="f.numberOfPeople.errors.required">Number of people is required</div>
                    </div>
                </div>

                <div class="col-4 form-group order-3">
                    <label for="costSelect">Cost</label>
                    <select formControlName="cost" class="form-control" id="costSelect">
                        <option *ngFor="let cost of costs | enumList" [value]="cost.key">
                            {{cost.value}}
                        </option>
                    </select>
                </div>

                <div class="col-4 form-group order-4">
                    <label for="difficultySelect">Difficulty</label>
                    <select formControlName="difficulty" class="form-control" id="difficultySelect">
                        <option *ngFor="let difficulties of difficulties | enumList" [value]="difficulties.key">
                            {{difficulties.value}}
                        </option>
                    </select>
                </div>

                <div class="col-6 form-group order-5">
                    <label for="prepTimeInput">Preparation time</label>
                    <div class="input-group">
                        <input type="number" formControlName="prepTime" class="form-control" id="prepTimeInput" [ngClass]="{ 'is-invalid': isSubmitted && f.prepTime.errors }">
                        <div class="input-group-append">
                            <span class="input-group-text">min</span>
                        </div>
                    </div>
                    <div *ngIf="isSubmitted && f.prepTime.errors" class="invalid-feedback">
                        <div *ngIf="f.prepTime.errors.required">Preparation time is required</div>
                    </div>
                </div>

                <div class="col-6 form-group order-6">
                    <label for="cookTimeInput">Cooking time</label>
                    <div class="input-group">
                        <input type="number" formControlName="cookTime" class="form-control" id="cookTimeInput" [ngClass]="{ 'is-invalid': isSubmitted && f.cookTime.errors }">
                        <div class="input-group-append">
                            <span class="input-group-text">min</span>
                        </div>
                    </div>
                    <div *ngIf="isSubmitted && f.cookTime.errors" class="invalid-feedback">
                        <div *ngIf="f.cookTime.errors.required">Cooking time is required</div>
                    </div>
                </div>

                <ng-template #markdownHint>
                    <p class="mb-1">Supports markdown</p>
                    <button type="button" class="btn btn-sm btn-info btn-shadow-none mb-1" (click)="showCheatSheet(markdownTip)">show cheatsheet</button>
                </ng-template>

                <div class="col-12 col-md-6 form-group order-7">
                    <label for="descriptionText">
                        Description<i class="fas fa-info-circle text-info ml-2"
                                      [ngbTooltip]="markdownHint"
                                      #markdownTip="ngbTooltip"
                                      [closeDelay]="3000"></i>
                    </label>
                    <textarea formControlName="description" class="form-control custom-scroll" id="descriptionText"
                              [ngClass]="{ 'is-invalid': isSubmitted && f.description.errors }"></textarea>
                    <div *ngIf="isSubmitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Name is required</div>
                    </div>
                </div>

                <div class="col-12 col-md-6 form-group order-9 order-md-8">
                    <label for="preparationText">
                        Preparation<i class="fas fa-info-circle text-info ml-2"
                                      [ngbTooltip]="markdownHint"
                                      #markdownTip="ngbTooltip"
                                      [closeDelay]="3000"></i>
                    </label>
                    <textarea formControlName="preparation" class="form-control custom-scroll" id="preparationText"
                              [ngClass]="{ 'is-invalid': isSubmitted && f.preparation.errors }"></textarea>
                    <div *ngIf="isSubmitted && f.preparation.errors" class="invalid-feedback">
                        <div *ngIf="f.preparation.errors.required">Name is required</div>
                    </div>
                </div>

                <div class="col-12 col-md-6 form-group order-8 order-md-9" *ngIf="f.description.value">
                    <label>Description Preview</label>
                    <div class="form-control h-auto" [innerHTML]="f.description.value | markdown"></div>
                </div>

                <div class="col-12 col-md-6 form-group order-10" *ngIf="f.preparation.value">
                    <label>Preparation Preview</label>
                    <div class="form-control h-auto" [innerHTML]="f.preparation.value | markdown"></div>
                </div>
            </div>

            <div class="form-group">
                <h3>Ingredients</h3>
                <div formArrayName="ingredients" *ngFor="let ingredient of ic; index as i">
                    <div [formGroup]="ingredient">
                        <div class="d-flex">
                            <div class="form-group w-100 mr-2">
                                <label for="ingredientNameInput">Ingredient name</label>
                                <input type="text" formControlName="name" id="ingredientNameInput" class="form-control"
                                       [ngClass]="{ 'is-invalid': isSubmitted && ingredient.errors }">
                                <div *ngIf="isSubmitted && ingredient.errors" class="invalid-feedback">
                                    <div *ngIf="ingredient.errors.required">Ingredient name is required</div>
                                </div>
                            </div>
                            <div class="form-group w-100 mr-2">
                                <label for="quantityInput">Quantity</label>
                                <input type="number" formControlName="quantity" id="quantityInput" class="form-control"
                                       [ngClass]="{ 'is-invalid': isSubmitted && ingredient.errors }">
                                <div *ngIf="isSubmitted && ingredient.errors" class="invalid-feedback">
                                    <div *ngIf="ingredient.errors.required">Quantity is required</div>
                                </div>
                            </div>
                            <div class="form-group w-100 mr-2">
                                <label for="quantityUnitSelect">Unit</label>
                                <select formControlName="quantityUnitId" class="form-control" id="quantityUnitSelect">
                                    <option *ngFor="let quantityUnit of quantityUnits" [value]="quantityUnit.id">
                                        {{quantityUnit.label}}&nbsp;({{quantityUnit.description}})
                                    </option>
                                </select>
                            </div>
                            <div class="form-group no-label" [ngClass]="i === 0 ? 'invisible' : ''">
                                <button type="button" class="btn btn-outline-danger btn-no-outline" (click)="onIngredientRemove(i)" [disabled]="i === 0">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" (click)="onIngredientAdd()">
                    <i class="fas fa-plus mr-2"></i>ingredient
                </button>
            </div>

            <div class="row">
                <h3 class="col-12">Tags & Image</h3>
                <div class="form-group col-12 col-md-6">
                    <label>Add descriptive tags</label>
                    <ng-select class="custom-ng-select w-100"
                               [items]="tagCategories"
                               [multiple]="true"
                               groupBy="tags"
                               [selectableGroup]="true"
                               [selectableGroupAsModel]="false"
                               [closeOnSelect]="false"
                               formControlName="tags">
                        <ng-template ng-optgroup-tmp let-tagCategory="item" let-item$="item$" let-index="index">
                            <div class="custom-control custom-checkbox">
                                <label for="tag-group-{{index}}" class="sr-only"></label>
                                <input type="checkbox" [checked]="item$.selected" class="custom-control-input" id="tag-group-{{index}}"/>
                                <label class="custom-control-label">{{tagCategory.label | uppercase}}</label>
                            </div>
                        </ng-template>
                        <ng-template ng-option-tmp let-tag="item" let-item$="item$" let-index="index">
                            <div class="custom-control custom-checkbox">
                                <label for="tag-{{index}}" class="sr-only"></label>
                                <input type="checkbox" [checked]="item$.selected" class="custom-control-input" id="tag-{{index}}"/>
                                <label class="custom-control-label">{{tag.label}}</label>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>

                <div class="form-group col-12 col-md-6">
                    <ng-container *ngIf="changeImage || !recipe?.originalImageName; else hasImage">
                        <ng-template #imageWarning>
                            <p class="mb-1 font-weight-bold">accepting only .png & .jpeg</p>
                            <p class="mb-0">
                                If no image is chosen a default placeholder image will be loaded :)
                            </p>
                        </ng-template>
                        <app-file-upload (onFileStaged)="onFileStaged($event)" [allowedMimeTypes]="'image/jpeg, image/png'">
                            <label>Recipe Image<i class="fas fa-exclamation-triangle text-warning mx-2" [ngbTooltip]="imageWarning"></i></label>
                        </app-file-upload>
                    </ng-container>
                    <ng-template #hasImage>
                        <label for="displayInput">Current image</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="displayInput" disabled [value]="recipe.originalImageName">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" (click)="changeImage = true">
                                    Change<i class="fas fa-sync ml-2" ></i>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <button type="button" class="btn btn-warning" [disabled]="recipeForm.pristine" (click)="resetFrom()">Reset</button>
                <button type="submit" [disabled]="recipeForm.pristine || isLoading" class="btn btn-success">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save recipe
                </button>
            </div>
        </form>
    </div>
</section>
