<div class="container bg-white min-vh-100">
    <div class="px-5">
        <h1 class="h1 text-primary pt-4 font-serif">About</h1>
        <hr>
        <blockquote>
            <p>
                The idea for this project came about during the 2020 pandemic lockdown, when I wanted to cook something but
                I didn't know what and I didn't want to rummage through all my cookbooks. I wanted a simple way to give me
                a random recipe. I found none that really fitted my needs, so I began coding my own randomizer application.
                Obvously I got carried away a "little" and it is now a full-blown web-app with database 😅
            </p>
            <p>
                Happy browsing & cooking - <a href="https://stackoverflow.com/story/pjominet" target="_blank">pat00</a>
            </p>
        </blockquote>

        <h2 class="h4 text-primary font-serif mt-5 mb-3">FAQ</h2>
        <hr>
        <section class="pl-3 mb-5">
            <h3 class="h5">
                <i class="fas fa-angle-double-right mr-2"></i>Do I need an account to use this?
            </h3>
            <p class="text-muted pl-4">
                No you don't. All recipes are freely accessible to everyone.
            </p>

            <h3 class="h5">
                <i class="fas fa-angle-double-right mr-2"></i>Can I upload my own recipes?
            </h3>
            <p class="text-muted pl-4">
                Yes! You are even encouraged to do so, the more the merrier. Just <a routerLink="/auth/register">create an account</a>
                and you can begin sharing your recipes with the world and much more!
            </p>

            <h3 class="h5">
                <i class="fas fa-angle-double-right mr-2"></i>Is this repository moderated?
            </h3>
            <p class="text-muted pl-4">
                Yes to a certain degree. If you upload inappropriate content you can get blocked by an admin!
            </p>

            <h3 class="h5">
                <i class="fas fa-angle-double-right mr-2"></i>Do I have to pay for anything?
            </h3>
            <p class="text-muted pl-4">
                No. This project is free of charge for everyone.
            </p>

            <h3 class="h5">
                <i class="fas fa-angle-double-right mr-2"></i>I found an issue/somthing does not work
            </h3>
            <p class="text-muted pl-4">
                Please post any issues you come across here:
                <a href="https://bitbucket.org/pjominet/reciperandomizer/issues?status=new&status=open" target="_blank">issues tracker</a>
            </p>

            <h3 class="h5">
                <i class="fas fa-angle-double-right mr-2"></i>I am a developer and want to contribute/help
            </h3>
            <p class="text-muted pl-4">
                Sure! The code is open source and pull requests on my
                <a href="https://bitbucket.org/pjominet/reciperandomizer/src/master/" target="_blank">repository</a>
                are always welcome 😄
            </p>
        </section>

        <h2 class="h4 text-primary font-serif mt-5 mb-3">Thanks</h2>
        <hr>
        <section class="pl-3 mb-5">
            <p>
                Big thanks to <a href="https://jasonwatmore.com/" target="_blank">Jason Watmore</a> and his <strong>amazing tutorials</strong> on Angular an .Net Core!
                A lot a this project is based on his truly wonderful boilerplate code! ❤️❤️❤️ If you are a web developer yourself and in need of help, give him a go!
            </p>
        </section>

        <hr>
        <a class="btn btn-outline-primary text-center mb-3" routerLink="/">Back Home</a>
    </div>
</div>
